<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cómo Heredar Chatbot página final</title>
        <link rel="stylesheet" href="/static/style_00.css">
    </head>
    <body>
    <section class="seccion_respuesta">
        <h1>Cómo Hererdar CHATBOT</h1><br><br>
        <div class="caja">

            <p class="respuesta_chat">{{chat}}</p><br><br>

        </div><br><br>
        <div class="pie">
            <p class="pie">Ponte en contacto con nosotros</p><br>
            <p class="pie"><a href="mailto:info@comoheredar.com">info@comoheredar.com</a></p>
            <p class="pie">+34 913 770 647</p>
            <p class="pie"><a href="https://comoheredar.com">comoheredar.com</a></p>
            <br>
        </div>

        <br><br>
    </section>
    </body>
</html>
    